
 <%- include('partials/header') %>
       <div class="no-bottom no-top" id="content">
          <section id="subheader" class="breadcrumb-section text-center" style="background: linear-gradient(
                rgba(0, 0, 0, 0.6), 
                rgba(0, 0, 0, 0.4)
              ),url('images/breadcrumb-img.jpg'); background-size: cover; background-position: center center; min-height: 300px; display: flex; align-items: center;">
                <div class="container relative z-2">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <h1 class="wow fadeInUp">Gallery</h1>
                            <ul class="crumb wow fadeInDown">
                                <li><a href="/index">Home</a></li>
                                <li class="active">Gallery</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container">
                        <div class="row">
                  <div class="col-md-3 col-sm-6 col-12 mb-4 item facilities">
                        <a href="images/gallery-img-1.png" class="image-popup d-block hover">
                            <div class="relative overflow-hidden rounded-1">
                                <div class="absolute start-0 w-100 hover-op-1 p-5 abs-middle z-2 text-center text-white z-3">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                                <div class="absolute start-0 w-100 h-100 overlay-black-5 hover-op-1 z-2"></div>
                                <img src="images/gallery-img-1.png" class="w-100 hover-scale-1-2" alt="">
                            </div>
                        </a>
                    </div>
                      <div class="col-md-3 col-sm-6 col-12 mb-4 item facilities">
                        <a href="images/gallery-img-2.png" class="image-popup d-block hover">
                            <div class="relative overflow-hidden rounded-1">
                                <div class="absolute start-0 w-100 hover-op-1 p-5 abs-middle z-2 text-center text-white z-3">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                                <div class="absolute start-0 w-100 h-100 overlay-black-5 hover-op-1 z-2"></div>
                                <img src="images/gallery-img-2.png" class="w-100 hover-scale-1-2" alt="">
                            </div>
                        </a>
                    </div>
                      <div class="col-md-3 col-sm-6 col-12 mb-4 item facilities">
                        <a href="images/gallery-img-3.png" class="image-popup d-block hover">
                            <div class="relative overflow-hidden rounded-1">
                                <div class="absolute start-0 w-100 hover-op-1 p-5 abs-middle z-2 text-center text-white z-3">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                                <div class="absolute start-0 w-100 h-100 overlay-black-5 hover-op-1 z-2"></div>
                                <img src="images/gallery-img-3.png" class="w-100 hover-scale-1-2" alt="">
                            </div>
                        </a>
                    </div>
                      <div class="col-md-3 col-sm-6 col-12 mb-4 item facilities">
                        <a href="images/gallery-img-4.png" class="image-popup d-block hover">
                            <div class="relative overflow-hidden rounded-1">
                                <div class="absolute start-0 w-100 hover-op-1 p-5 abs-middle z-2 text-center text-white z-3">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                                <div class="absolute start-0 w-100 h-100 overlay-black-5 hover-op-1 z-2"></div>
                                <img src="images/gallery-img-4.png" class="w-100 hover-scale-1-2" alt="">
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-6 col-12 mb-4 item facilities">
                        <a href="images/gallery-img-1.png" class="image-popup d-block hover">
                            <div class="relative overflow-hidden rounded-1">
                                <div class="absolute start-0 w-100 hover-op-1 p-5 abs-middle z-2 text-center text-white z-3">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                                <div class="absolute start-0 w-100 h-100 overlay-black-5 hover-op-1 z-2"></div>
                                <img src="images/gallery-img-1.png" class="w-100 hover-scale-1-2" alt="">
                            </div>
                        </a>
                    </div>
                      <div class="col-md-3 col-sm-6 col-12 mb-4 item facilities">
                        <a href="images/gallery-img-2.png" class="image-popup d-block hover">
                            <div class="relative overflow-hidden rounded-1">
                                <div class="absolute start-0 w-100 hover-op-1 p-5 abs-middle z-2 text-center text-white z-3">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                                <div class="absolute start-0 w-100 h-100 overlay-black-5 hover-op-1 z-2"></div>
                                <img src="images/gallery-img-2.png" class="w-100 hover-scale-1-2" alt="">
                            </div>
                        </a>
                    </div>
                      <div class="col-md-3 col-sm-6 col-12 mb-4 item facilities">
                        <a href="images/gallery-img-3.png" class="image-popup d-block hover">
                            <div class="relative overflow-hidden rounded-1">
                                <div class="absolute start-0 w-100 hover-op-1 p-5 abs-middle z-2 text-center text-white z-3">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                                <div class="absolute start-0 w-100 h-100 overlay-black-5 hover-op-1 z-2"></div>
                                <img src="images/gallery-img-3.png" class="w-100 hover-scale-1-2" alt="">
                            </div>
                        </a>
                    </div>
                      <div class="col-md-3 col-sm-6 col-12 mb-4 item facilities">
                        <a href="images/gallery-img-4.png" class="image-popup d-block hover">
                            <div class="relative overflow-hidden rounded-1">
                                <div class="absolute start-0 w-100 hover-op-1 p-5 abs-middle z-2 text-center text-white z-3">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                                <div class="absolute start-0 w-100 h-100 overlay-black-5 hover-op-1 z-2"></div>
                                <img src="images/gallery-img-4.png" class="w-100 hover-scale-1-2" alt="">
                            </div>
                        </a>
                    </div>
                    
              </div>
                </div>
            </section>
</div>
<%- include('partials/footer') %>