
   <%- include('partials/header') %>
      <!-- content begin -->
      <div class="no-bottom no-top" id="content">
        <div id="top"></div>

        <section
          id="section-intro"
          class="text-light no-top no-bottom relative overflow-hidden"
        >
          <div class="relative">
            <div class="abs abs-centered w-100 z-2">
              <div class="container">
                <div class="row g-4 align-items-center justify-content-between">
                  <div class="col-lg-6">
                    <div class="spacer-single sm-hide"></div>
                    <div class="subtitle">Welcome To Vidyavedika</div>
                    <h1>
                      Shaping Future Leaders Through IIT and NEET Success Pathways
                    </h1>
                    <p>We offer expert coaching in MPC, BiPC, MBiPC along with IIT JEE and NEET preparation. Our programs are designed to guide students towards academic excellence and career success.</p>
                    <a class="btn-main btn-line fx-slide" href="/contact"
                      ><span>Enquiry Now</span></a
                    >
                  </div>

                 
                </div>
              </div>
            </div>

            <div class="mh-800 mobile-height">
              <div class="swiper wow scaleIn">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->
                  <div class="swiper-slide">
                    <div
                      class="swiper-inner"
                      data-bgimage="url(images/slider-img-1.png) center"
                    >
                      <div class="sw-overlay op-5"></div>
                      <div class="gradient-edge-left z-2"></div>
                    </div>
                  </div>
                  <!-- Slides -->

                  <!-- Slides -->
                  <div class="swiper-slide">
                    <div
                      class="swiper-inner"
                      data-bgimage="url(images/slider-img-2.png) center"
                    >
                      <div class="sw-overlay op-5"></div>
                      <div class="gradient-edge-left z-2"></div>
                    </div>
                  </div>
                  <!-- Slides -->
                </div>
              </div>
            </div>
          </div>
        </section>

        <section>
          <div class="container">
            <div class="row g-4 gx-5 align-items-center">
              <div class="col-lg-6">
                <div class="row g-4">
                  <div class="col-6">
                    <div class="row g-4">
                      <div class="col-lg-12">
                        <div class="rounded-1 overflow-hidden wow zoomIn">
                          <img
                            src="images/about-img-1.png"
                            class="w-100 wow scaleIn"
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="row g-4">
                      <div class="spacer-single sm-hide"></div>
                      <div class="col-lg-12">
                        <div
                          class="rounded-1 overflow-hidden wow zoomIn"
                          data-wow-delay=".3s"
                        >
                          <img
                            src="images/about-img-2.png"
                            class="w-100 wow scaleIn"
                            alt=""
                            data-wow-delay=".3s"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class=" home-about-content">
                  <div
                    class="subtitle s2 mb-3 wow fadeInUp"
                    data-wow-delay=".0s"
                  >
                    About Us
                  </div>
                  <h2 class="wow fadeInUp" data-wow-delay=".2s">
                   Welcome to Vidya Vedika IIT & NEET Academy
                  </h2>
                  <p class="wow fadeInUp" data-wow-delay=".4s">
                   We are delighted to welcome you to our official website! At Vidya Vedika IIT & NEET Academy, we believe in empowering young minds with knowledge, discipline, and confidence to excel in academics and life. Our institution is dedicated to providing student-focused, quality education that prepares learners for Intermediate Boards, IIT-JEE, NEET, and beyond.
                  </p>
                  <p class="wow fadeInUp" data-wow-delay=".4s">Through our committed faculty, innovative teaching methods, and supportive environment, we aim to shape not just achievers, but responsible and value-driven individuals. We invite you to explore our website, discover our programs and facilities, and join us in this journey of learning, growth, and success.</p>

                  <div class="text-center text-md-left">
                  <a
                    class="btn-main fx-slide wow fadeInUp"
                    data-wow-delay=".8s"
                    href="/about"
                    ><span>Read More</span></a
                  >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>


        
        <section class="subscritpion-section">
            <div class="container">
                <div class="inner-basic-div">
                    <div class="row de-flex align-items-center">
                    <div class="col-md-4">
                        <div class="register-img">
                          <img width="320" src="images/register-img.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="register-content">
                         <h4>Exciting Scholarship Opportunities Await You – Enquire Today</h4>
                        <p> Take the next step toward your dreams with our exclusive scholarships.Enquire now to secure financial support and shape your future.</p>
                   
                      </div>
                    </div>
                    <div class="col-md-2">
                        <div class="text-center text-md-left">
                          <a class="btn-main fx-slide" href="/contact"><span>Enquiry Now</span></a>
                          
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </section><!--subscription-section-->

        
            <section class="bg-color-op-1">
                <div class="container">
                    <div class="row g-4 justify-content-center">
                        <div class="col-lg-8 text-center">
                            <div class="subtitle wow fadeInUp mb-3">Our Courses</div>
                            <h2 class="wow fadeInUp" data-wow-delay=".2s">Complete Care for Every Smile</h2>
                            <p class="col-lg-8 offset-lg-2 mb-0 wow fadeInUp">From routine cleanings to advanced restorations, we provide personalized dental solutions for patients of all ages.</p>
                            <div class="spacer-single"></div>
                            <div class="spacer-half"></div>
                        </div>
                    </div>


                    <!-- Carousel -->
                  <div class="items-carousel owl-carousel owl-theme">
                    <div class="item">
                        <div class="hover">
                                <div class="bg-white h-100 p-20 rounded-1">
                                    <img src="images/course-icon-1.png" class="w-70px mb-3 wow scaleIn" alt="">
                                    <div class="relative mt-2 wow fadeInUp">
                                        <h4>MPC</h4>
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                        <a class="btn-plus" href="/course-view">
                                            <i class="fa fa-plus"></i>
                                            <span>Read more</span>
                                        </a>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="item">
                           <div class="hover">
                                <div class="bg-white h-100 p-20 rounded-1">
                                    <img src="images/course-icon-2.png" class="w-70px mb-3 wow scaleIn" alt="">
                                    <div class="relative mt-2 wow fadeInUp">
                                        <h4>BiPc</h4>
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                        <a class="btn-plus" href="/course-view">
                                            <i class="fa fa-plus"></i>
                                            <span>Read more</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="item">
                        <div class="hover">
                                <div class="bg-white h-100 p-20 rounded-1">
                                    <img src="images/course-icon-3.png" class="w-70px mb-3 wow scaleIn" alt="">
                                    <div class="relative mt-2 wow fadeInUp">
                                        <h4>MBipc</h4>
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                        <a class="btn-plus" href="/course-view">
                                            <i class="fa fa-plus"></i>
                                            <span>Read more</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="item">

                       <div class="hover">
                                <div class="bg-white h-100 p-20 rounded-1">
                                    <img src="images/course-icon-4.png" class="w-70px mb-3 wow scaleIn" alt="">
                                    <div class="relative mt-2 wow fadeInUp">
                                        <h4>IIT JEE</h4>
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                        <a class="btn-plus" href="/course-view">
                                            <i class="fa fa-plus"></i>
                                            <span>Read more</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                    </div>

                       <div class="item">

                       <div class="hover">
                                <div class="bg-white h-100 p-20 rounded-1">
                                    <img src="images/course-icon-3.png" class="w-70px mb-3 wow scaleIn" alt="">
                                    <div class="relative mt-2 wow fadeInUp">
                                        <h4>NEET</h4>
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                        <a class="btn-plus" href="/course-view">
                                            <i class="fa fa-plus"></i>
                                            <span>Read more</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                    </div>
                  
                  </div>
              
                </div>
            </section>

 
        <section class="bg-dark text-light pt-60 pb-60">
          <div class="container">
            <div class="row g-4">
              <div class="col-md-3 col-sm-6 text-center">
                <div class="de_count wow fadeInRight" data-wow-delay=".0s">
                  <h3 class="fs-40 mb-0">
                    <span class="timer" data-to="800" data-speed="3000"
                      >0</span
                    >+
                  </h3>
                  Happy Students
                </div>
              </div>
              <div class="col-md-3 col-sm-6 text-center">
                <div class="de_count wow fadeInRight" data-wow-delay=".2s">
                  <h3 class="fs-40 mb-0">
                    <span class="timer" data-to="4" data-speed="3500">0</span
                    >+
                  </h3>
                  No Of Courses
                </div>
              </div>
              <div class="col-md-3 col-sm-6 text-center">
                <div class="de_count wow fadeInRight" data-wow-delay=".4s">
                  <h3 class="fs-40 mb-0">
                    <span class="timer" data-to="20" data-speed="3000">0</span
                    >+
                  </h3>
                  Faculty
                </div>
              </div>
              <div class="col-md-3 col-sm-6 text-center">
                <div class="de_count wow fadeInRight" data-wow-delay=".6s">
                  <h3 class="fs-40 mb-0">
                    <span class="timer" data-to="5" data-speed="3000">0</span>+
                  </h3>
                  Years of Exeperience
                </div>
              </div>
            </div>
          </div>
        </section>

        <section  >
          <div class="container">
            <div class="row gy-4 gx-5 align-items-center">
              <div class="col-lg-6">
                <div
                  class="subtitle id-color wow fadeInUp"
                  data-wow-delay=".0s"
                >
                  Why Choose Vidyavedika
                </div>
                <h2 class="wow fadeInUp" data-wow-delay=".2s">
                  Empowering Students for Future Success
                </h2>
                <p class="wow fadeInUp" data-wow-delay=".4s">
                 It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
                </p>

                <div class="border-bottom mb-4"></div>

                <div class="row g-4">
                  <div class="col-sm-6">
                    <div class="h-100">
                      <div class="relative  wow fadeInUp">
                        <h5 class="mb-1">Expert Faculty</h5>
                        <p class="mb-0">
                          with years of experience in IIT & NEET coaching.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="h-100">
                      <div class="relative wow fadeInUp">
                        <h5 class="mb-1">Comprehensive Study Material</h5>
                        <p class="mb-0">
                          that covers every concept in detail.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="h-100">
                      <div class="relative wow fadeInUp">
                        <h5 class="mb-1">Regular Tests & Assessments</h5>
                        <p class="mb-0">
                        to track progress and boost confidence.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="h-100">
                      <div class="relative wow fadeInUp">
                        <h5 class="mb-1">Personalized Guidance</h5>
                        <p class="mb-0">
                          for every student’s unique learning journey.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="row g-4 align-items-center">
                  <div class="col-6 text-end">
                    <div
                      class="w-80 rounded-1 overflow-hidden mb-25 wow zoomIn d-inline-block"
                    >
                      <img
                        src="images/whychoouse-img-1.png"
                        class="w-100 wow scaleIn"
                        alt=""
                      />
                    </div>
                    <div
                      class="w-100 rounded-1 overflow-hidden mb-25 wow zoomIn d-inline-block"
                    >
                      <img
                        src="images/whychoouse-img-3.png"
                        class="w-100 wow scaleIn"
                        alt=""
                      />
                    </div>
                  </div>

                  <div class="col-6">
                    <div
                      class="w-100 rounded-1 overflow-hidden mb-25 wow zoomIn d-inline-block"
                    >
                      <img
                        src="images/whychoouse-img-2.png"
                        class="w-100 wow scaleIn"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

  
        <section class="galler-section">
            <div class="container">
                <div class="row g-4 justify-content-center">
                        <div class="col-lg-8 text-center">
                            <div class="subtitle wow fadeInUp mb-1">Our Gallery</div>
                            <h2 class="wow fadeInUp mb-2" data-wow-delay=".2s">Moments Captured at Vidyavedika</h2>
                            <p class="col-lg-8 offset-lg-2 mb-0 wow fadeInUp">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                            <div class="spacer-single"></div>
                            <div class="spacer-half"></div>
                        </div>
                    </div>

              <div class="row">
                  <div class="col-md-3 col-sm-6 col-12 mb-4 item facilities">
                        <a href="images/gallery-img-1.png" class="image-popup d-block hover">
                            <div class="relative overflow-hidden rounded-1">
                                <div class="absolute start-0 w-100 hover-op-1 p-5 abs-middle z-2 text-center text-white z-3">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                                <div class="absolute start-0 w-100 h-100 overlay-black-5 hover-op-1 z-2"></div>
                                <img src="images/gallery-img-1.png" class="w-100 hover-scale-1-2" alt="">
                            </div>
                        </a>
                    </div>
                      <div class="col-md-3 col-sm-6 col-12 mb-4 item facilities">
                        <a href="images/gallery-img-2.png" class="image-popup d-block hover">
                            <div class="relative overflow-hidden rounded-1">
                                <div class="absolute start-0 w-100 hover-op-1 p-5 abs-middle z-2 text-center text-white z-3">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                                <div class="absolute start-0 w-100 h-100 overlay-black-5 hover-op-1 z-2"></div>
                                <img src="images/gallery-img-2.png" class="w-100 hover-scale-1-2" alt="">
                            </div>
                        </a>
                    </div>
                      <div class="col-md-3 col-sm-6 col-12 mb-4 item facilities">
                        <a href="images/gallery-img-3.png" class="image-popup d-block hover">
                            <div class="relative overflow-hidden rounded-1">
                                <div class="absolute start-0 w-100 hover-op-1 p-5 abs-middle z-2 text-center text-white z-3">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                                <div class="absolute start-0 w-100 h-100 overlay-black-5 hover-op-1 z-2"></div>
                                <img src="images/gallery-img-3.png" class="w-100 hover-scale-1-2" alt="">
                            </div>
                        </a>
                    </div>
                      <div class="col-md-3 col-sm-6 col-12 mb-4 item facilities">
                        <a href="images/gallery-img-4.png" class="image-popup d-block hover">
                            <div class="relative overflow-hidden rounded-1">
                                <div class="absolute start-0 w-100 hover-op-1 p-5 abs-middle z-2 text-center text-white z-3">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                                <div class="absolute start-0 w-100 h-100 overlay-black-5 hover-op-1 z-2"></div>
                                <img src="images/gallery-img-4.png" class="w-100 hover-scale-1-2" alt="">
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-6 col-12 mb-4 item facilities">
                        <a href="images/gallery-img-1.png" class="image-popup d-block hover">
                            <div class="relative overflow-hidden rounded-1">
                                <div class="absolute start-0 w-100 hover-op-1 p-5 abs-middle z-2 text-center text-white z-3">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                                <div class="absolute start-0 w-100 h-100 overlay-black-5 hover-op-1 z-2"></div>
                                <img src="images/gallery-img-1.png" class="w-100 hover-scale-1-2" alt="">
                            </div>
                        </a>
                    </div>
                      <div class="col-md-3 col-sm-6 col-12 mb-4 item facilities">
                        <a href="images/gallery-img-2.png" class="image-popup d-block hover">
                            <div class="relative overflow-hidden rounded-1">
                                <div class="absolute start-0 w-100 hover-op-1 p-5 abs-middle z-2 text-center text-white z-3">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                                <div class="absolute start-0 w-100 h-100 overlay-black-5 hover-op-1 z-2"></div>
                                <img src="images/gallery-img-2.png" class="w-100 hover-scale-1-2" alt="">
                            </div>
                        </a>
                    </div>
                      <div class="col-md-3 col-sm-6 col-12 mb-4 item facilities">
                        <a href="images/gallery-img-3.png" class="image-popup d-block hover">
                            <div class="relative overflow-hidden rounded-1">
                                <div class="absolute start-0 w-100 hover-op-1 p-5 abs-middle z-2 text-center text-white z-3">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                                <div class="absolute start-0 w-100 h-100 overlay-black-5 hover-op-1 z-2"></div>
                                <img src="images/gallery-img-3.png" class="w-100 hover-scale-1-2" alt="">
                            </div>
                        </a>
                    </div>
                      <div class="col-md-3 col-sm-6 col-12 mb-4 item facilities">
                        <a href="images/gallery-img-4.png" class="image-popup d-block hover">
                            <div class="relative overflow-hidden rounded-1">
                                <div class="absolute start-0 w-100 hover-op-1 p-5 abs-middle z-2 text-center text-white z-3">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                                <div class="absolute start-0 w-100 h-100 overlay-black-5 hover-op-1 z-2"></div>
                                <img src="images/gallery-img-4.png" class="w-100 hover-scale-1-2" alt="">
                            </div>
                        </a>
                    </div>
                    
              </div>
            </div>
        </section>
        <section class="bg-color-op-1">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 offset-lg-3 text-center">
                <div class="subtitle wow fadeInUp mb-3">Testimonials</div>
                <h2 class="wow fadeInUp" data-wow-delay=".2s">
                  Our Happy Customers
                </h2>
                <p class="wow fadeInUp">
                  Join thousands of happy patients who trust us for gentle,
                  expert care and beautiful smiles. Your perfect dental
                  experience starts here!
                </p>
                <div class="spacer-single"></div>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div
                class="owl-carousel owl-theme wow fadeInUp four-cols-center-dots text-center"
              >
                <div class="item">
                  <div class="gradient-white-top p-40 py-4 rounded-1">
                    <blockquote>
                      <i
                        class="fs-32 icofont-quote-left absolute start-0 mt-2 p-0 id-color"
                      ></i>
                      <div class="de_testi_by">
                        <img
                          class="circle"
                          alt=""
                          src="images/testimonial/1.webp"
                        />
                        <div>Michael S.<span>Student</span></div>
                      </div>
                      <p class="mt-4 mb-0 text-dark op-6">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layoutletters"
                      </p>
                    </blockquote>
                  </div>
                </div>
                <div class="item">
                  <div class="gradient-white-top p-40 py-4 rounded-1">
                    <blockquote>
                      <i
                        class="fs-32 icofont-quote-left absolute start-0 mt-2 p-0 id-color"
                      ></i>
                      <div class="de_testi_by">
                        <img
                          class="circle"
                          alt=""
                          src="images/testimonial/2.webp"
                        />
                        <div>Robert L.<span>Student</span></div>
                      </div>
                       <p class="mt-4 mb-0 text-dark op-6">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layoutletters"
                      </p>
                    </blockquote>
                  </div>
                </div>
                <div class="item">
                  <div class="gradient-white-top p-40 py-4 rounded-1">
                    <blockquote>
                      <i
                        class="fs-32 icofont-quote-left absolute start-0 mt-2 p-0 id-color"
                      ></i>
                      <div class="de_testi_by">
                        <img
                          class="circle"
                          alt=""
                          src="images/testimonial/3.webp"
                        />
                        <div>Jake M.<span>Student</span></div>
                      </div>
                       <p class="mt-4 mb-0 text-dark op-6">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layoutletters"
                      </p>
                    </blockquote>
                  </div>
                </div>
                <div class="item">
                  <div class="gradient-white-top p-40 py-4 rounded-1">
                    <blockquote>
                      <i
                        class="fs-32 icofont-quote-left absolute start-0 mt-2 p-0 id-color"
                      ></i>
                      <div class="de_testi_by">
                        <img
                          class="circle"
                          alt=""
                          src="images/testimonial/4.webp"
                        />
                        <div>Alex P.<span>Student</span></div>
                      </div>
                       <p class="mt-4 mb-0 text-dark op-6">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layoutletters"
                      </p>
                    </blockquote>
                  </div>
                </div>
                <div class="item">
                  <div class="gradient-white-top p-40 py-4 rounded-1">
                    <blockquote>
                      <i
                        class="fs-32 icofont-quote-left absolute start-0 mt-2 p-0 id-color"
                      ></i>
                      <div class="de_testi_by">
                        <img
                          class="circle"
                          alt=""
                          src="images/testimonial/5.webp"
                        />
                        <div>Carlos R.<span>Student</span></div>
                      </div>
                       <p class="mt-4 mb-0 text-dark op-6">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layoutletters"
                      </p>
                    </blockquote>
                  </div>
                </div>
                <div class="item">
                  <div class="gradient-white-top p-40 py-4 rounded-1">
                    <blockquote>
                      <i
                        class="fs-32 icofont-quote-left absolute start-0 mt-2 p-0 id-color"
                      ></i>
                      <div class="de_testi_by">
                        <img
                          class="circle"
                          alt=""
                          src="images/testimonial/6.webp"
                        />
                        <div>Edward B.<span>Student</span></div>
                      </div>
                      <p class="mt-4 mb-0 text-dark op-6">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layoutletters"
                      </p>
                    </blockquote>
                  </div>
                </div>
                <div class="item">
                  <div class="gradient-white-top p-40 py-4 rounded-1">
                    <blockquote>
                      <i
                        class="fs-32 icofont-quote-left absolute start-0 mt-2 p-0 id-color"
                      ></i>
                      <div class="de_testi_by">
                        <img
                          class="circle"
                          alt=""
                          src="images/testimonial/7.webp"
                        />
                        <div>Daniel H.<span>Student</span></div>
                      </div>
                      <p class="mt-4 mb-0 text-dark op-6">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layoutletters"
                      </p>
                    </blockquote>
                  </div>
                </div>
                <div class="item">
                  <div class="gradient-white-top p-40 py-4 rounded-1">
                    <blockquote>
                      <i
                        class="fs-32 icofont-quote-left absolute start-0 mt-2 p-0 id-color"
                      ></i>
                      <div class="de_testi_by">
                        <img
                          class="circle"
                          alt=""
                          src="images/testimonial/8.webp"
                        />
                        <div>Bryan G.<span>Student</span></div>
                      </div>
                      <p class="mt-4 mb-0 text-dark op-6">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layoutletters"
                      </p>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="bg-color text-light pt-40 pb-40">
          <div class="container">
            <div class="row g-4">
              <div class="col-md-9">
                <h3 class="mb-0 fs-25">
                  Get in Touch for Your Admission Enquiry Today
                </h3>
              </div>
              <div class="col-lg-3 text-lg-end">
                <a class="btn-main btn-line fx-slide" href="#"
                  ><span>Enquiry Now</span></a
                >
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- content end -->

     <%- include('partials/footer') %>