   <%- include('partials/header') %>

      <div class="no-bottom no-top" id="content">

       <section id="subheader" class="breadcrumb-section text-center" style="background: linear-gradient(
                rgba(0, 0, 0, 0.6), 
                rgba(0, 0, 0, 0.4)
              ),url('images/breadcrumb-img.jpg'); background-size: cover; background-position: center center; min-height: 300px; display: flex; align-items: center;">
                <div class="container relative z-2">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <h1 class="wow fadeInUp">Student Life</h1>
                            <ul class="crumb wow fadeInDown">
                                <li><a href="/index">Home</a></li>
                                <li class="active">Student Life</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="hostel-accomidation-section">
                <div class="container">
                    <div class="row g-4 justify-content-center">
                        <div class="col-lg-8 text-center mb-4">
                             <h2 class="wow fadeInUp" data-wow-delay=".2s">Hostel & Accommodation </h2>
                            <p>we provide a safe, comfortable, and well-managed hostel facility to ensure that students feel at home while focusing on their academic goals.</p>
                        </div>
                    </div>

                    <div class="row g-4 mb-3 justify-content-center">
                        <div class="col-lg-4 col-md-6">
                                <div class="border-gray innr-accomidation p-20 rounded-1">
                                    <div class="relative wow fadeInUp">
                                        <img src="images/examination-icon-1.png" width="50" class="mb-2" alt="">
                                        <h4>Comfortable Living </h4>
                                        <p class="mb-0">
                                           Spacious, well-ventilated AC and Non-AC rooms designed to create a pleasant study atmosphere.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <div class="border-gray p-20 innr-accomidation rounded-1">
                                    <div class="relative wow fadeInUp">
                                         <img src="images/examination-icon-2.png" width="50" class="mb-2" alt="">
                                        <h4> 	Safety & Security  </h4>
                                        <p class="mb-0"> 24x7 security, CCTV surveillance, and wardens to ensure student safety and discipline.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <div class="border-gray p-20 innr-accomidation rounded-1">
                                    <div class="relative wow fadeInUp">
                                         <img src="images/examination-icon-3.png" width="50" class="mb-2" alt="">
                                        <h4> Healthy Dining  </h4>
                                        <p class="mb-0"> Nutritious and hygienic meals provided in the hostel mess to support students’ health and concentration.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <div class="border-gray p-20 innr-accomidation rounded-1">
                                    <div class="relative wow fadeInUp">
                                         <img src="images/examination-icon-4.png" width="50" class="mb-2" alt="">
                                        <h4> 	Study Environment  </h4>
                                        <p class="mb-0">Dedicated study hours, supervised preparation time, and a quiet, disciplined environment.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <div class="border-gray p-20 innr-accomidation rounded-1">
                                    <div class="relative wow fadeInUp">
                                         <img src="images/examination-icon-5.png" width="50" class="mb-2" alt="">
                                        <h4>  Parental Comfort  </h4>
                                        <p class="mb-0">Regular updates and open communication with parents about hostel facilities and student well-being.</p>
                                    </div>
                                </div>
                            </div>
                    </div>

                    <p class="text-center">Our hostel is not just an accommodation—it is a nurturing space where students can focus, grow, and achieve their goals with peace of mind.</p>
                </div>
            </section>

            
            <section class="bg-dark text-light">
                <div class="container">
                    <div class="row g-4">
                        <div class="col-lg-5">
                             <h2 class="wow fadeInUp" data-wow-delay=".2s">Library & Labs</h2>
                            <p>At Vidya Vedika IIT & NEET Academy, we provide world-class learning resources and facilities to enhance both theoretical knowledge and practical understanding.</p>
                        </div>

                        <div class="col-lg-7">
                            <ul class="ul-check fs-500">
                                <li><strong>Library</strong> – A well-stocked library with textbooks, reference materials, competitive exam guides, journals, and digital resources to support in-depth learning and research. A quiet and motivating space is maintained for focused study.</li>
                                <li><strong> Science Labs </strong>– Fully equipped Physics, Chemistry, and Biology labs designed to give students hands-on experience and strengthen their practical skills.</li>
                                <li> <strong>Digital Learning  </strong> – Access to e-learning resources and practice materials to complement classroom teaching.</li>
                            </ul>                        
                        </div>
                    </div>
                </div>
            </section>

             <section>
                <div class="container">
                    <div class="row g-4 gx-5 align-items-center">
                        <div class="col-lg-6">
                            <div class="row g-4">
                                <div class="col-lg-6">
                                    <div class="relative rounded-1 overflow-hidden wow zoomIn">
                                        <img src="images/about-img-1.png" class="w-100 wow scaleIn" alt="">
                                        <div class="de-overlay-gradient-color h-50 top-50"></div>
                                    </div>
                                </div>
                                <div class="col-lg-6" data-wow-delay=".3s">
                                    <div class="relative rounded-1 overflow-hidden wow zoomIn">
                                        <img src="images/about-img-2.png" class="w-100 wow scaleIn" alt="">
                                        <div class="de-overlay-gradient-color h-50 top-50"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="ps-lg-3">
                                 <div class="subtitle id-color wow fadeInUp" data-wow-delay=".2s">Sports & Extracurriculars</div>

                                 <h2 class="wow fadeInUp" data-wow-delay=".4s">Active Minds, Active Bodies</h2>
                                <p class="mb-0 wow fadeInUp" data-wow-delay=".6s">we believe that education goes beyond academics. To ensure all-round development, we encourage students to actively participate in sports, cultural programs, and extracurricular activities. Our facilities and events provide opportunities to build teamwork, leadership, discipline, and creativity while promoting physical fitness and mental well-being.</p>
                            </div>
                        </div>
                    </div>
                    
            </section>


               <section Class="bg-light">
                <div class="container">
                    <div class="row g-4 gx-5 align-items-center">
                        <div class="col-lg-6">
                            <div class="ps-lg-3">
                                 <div class="subtitle id-color wow fadeInUp" data-wow-delay=".2s">Cultural Activities</div>

                                 <h2 class="wow fadeInUp" data-wow-delay=".4s">Expressions Beyond Borders</h2>
                                <p class="mb-0 wow fadeInUp" data-wow-delay=".6s">we value the role of culture in shaping confident and expressive individuals. Our students actively participate in festivals, annual days, talent shows, and cultural events that celebrate creativity, tradition, and diversity. These activities not only nurture artistic talents but also build confidence, teamwork, and a sense of community among students.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row g-4">
                                <div class="col-lg-6">
                                    <div class="relative rounded-1 overflow-hidden wow zoomIn">
                                        <img src="images/about-img-1.png" class="w-100 wow scaleIn" alt="">
                                        <div class="de-overlay-gradient-color h-50 top-50"></div>
                                    </div>
                                </div>
                                <div class="col-lg-6" data-wow-delay=".3s">
                                    <div class="relative rounded-1 overflow-hidden wow zoomIn">
                                        <img src="images/about-img-2.png" class="w-100 wow scaleIn" alt="">
                                        <div class="de-overlay-gradient-color h-50 top-50"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
            </section>

</div>



<%- include('partials/footer') %>